<p id="notice"><%= notice %></p>

<div class="nav nav-pills nav-justified">
  <h1 class="nav-brand ml-2">Tasks</h1>
  <div class="nav-item">
  </div>
</div>


<div class=" col-6  form-inline my-2 my-lg-0"<%= search_form_for @search do |f| %>
          <div class="row float-right">
            <div class="mx-4">
              <%= f.label :title_cont, "Search by title"  %>
              <%= f.text_field :title_cont, class:"field form-control mr-sm-2"%>
            </div>
            <br>


            <div class="mx-4">
              <%= f.label :title_cont, "Search by Status"  %>
              <%= f.text_field :title_cont, class:"field form-control mr-sm-2"%>
            </div>
            <br>
            <br>
            <br>
            <br>

          </div>
          <div class="mx-4">
            <%= f.submit 'search'%>          </div>
        </div>
        <% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>startdate</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Createddate</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.startdate %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= task.created_at.strftime("%Hh%M min %Y, %B, %d") %></td>


        <td><%= link_to 'Show', task %></td>
        <td><%= link_to image_tag("https://img.icons8.com/metro/26/000000/edit.png"), edit_task_path(task) %></td>
        <td><%= link_to image_tag("https://img.icons8.com/material-rounded/26/000000/trash.png"), task, method: :delete, data: {confirm: "are you sure?"}%></td>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
<div>
