<p id="notice"><%= notice %></p>

<div class="nav nav-pills nav-justified">
  <h1 class="nav-brand ml-2">Tasks</h1>
  <div class="nav-item">
  </div>
</div>


<div class="nav nav-pills nav-justified">
  <%= link_to "sort by expiration date", tasks_path(sort_expired: "true"),class:"nav-item"%>
  <%= link_to "sort by priority", tasks_path(sort_priority: "true"),class:"nav-item"%>
    <%= search_form_for @search do |f| %>
      <%= f.label :status_search %>
      <%= f.search_field :status_cont %>
      <%= f.label :title_search %>
      <%= f.search_field :title_cont %>
      <%= f.label :label_search %>
      <%= f.search_field :labels_label_type_cont %>
      <%= f.submit 'search'%>
    <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>startdate</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Createddate</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.startdate %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= task.created_at.strftime("%Hh%M min %Y, %B, %d") %></td>


        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
<div>
