<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <div class="card-header">
        All Tasks
      </div>
      <div class="card-body">



        <div class=" col-6  form-inline my-2 my-lg-0"><%= search_form_for @search do |f| %>
          <div class="row float-right">
            <div class="mx-4">
              <%= f.label :title_cont, "Search by title"  %>
              <%= f.text_field :title_cont, class:"field form-control mr-sm-2"%>
            </div>
            <br>


            <div class="mx-4">
              <%= f.label :title_cont, "Search by Status"  %>
              <%= f.text_field :title_cont, class:"field form-control mr-sm-2"%>
            </div>
            <br>
            <br>
            <br>
            <br>

          </div>
          <div class="mx-4">
            <%= submit_tag '  Search', name: nil , class:"btn btn-info rounded-pill"%>
          </div>
        </div>



        <% end %>

      </div>

      <% @tasks.each do |task| %>

      <div class=" p-4 border rounded my-2 bg-light">
        <%= task.created_at.strftime("%Hh%M min %Y, %B, %d") %>
        <h5 class="my-2">
          <strong><%= task.title %></strong>
        </h5>
        4
          <p class="mx-2 bg-white p-2">
            <%= task.content %>
          </p>


          <div class="row">

            <div class="col col-10">
              <button class="btn btn-outline-info"><%= link_to 'Show', task %></button>
              <button class="btn btn-outline-primary"><%= link_to 'Edit', edit_task_path(task) %></button>
              <button class="btn btn-outline-danger"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></button>
            </div>
            <div class="col">
              <p>
                <strong>Status: </strong>
                <%= task.status %><br>
                <strong>Priority:</strong>
                <%= task.priority %>
              </p>
            </div>
          </div>

        </div>
        <% end %>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
        </div>
    </div>
  </div>
