<%= form_with(model: label, local: true) do |form| %>
  <% if label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(label.errors.count, "error") %> prohibited this label from being saved:</h2>

      <ul>
      <% label.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">

    <%= form.hidden_field :user_id, value: 'current_user.id' %>
  </div>
  <div class="field_labels">
    <% @labels.each do |label| %>
    <%= form.check_box :label_ids, { multiple: true, checked: @task.label_ids.include?(label.id), disabled: label[:disabled], include_hidden: false}, label[:id]%>
    <label><%= label.label.name %></label>
    <% end %>
  </div>

  <div class="actions text-center mt-4">
    <%= form.submit "Save", class:"btn btn-info " %>
  </div>
<% end %>
