<p id="notice"><%= notice %></p>

<h1>Labels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= n += 1 %></td>
        <td><%= label.name %></td>
        <td><%= label.content %></td>
        <td><%= link_to 'Show', label, class: "btn btn-warning" %></td>
        <td><%= link_to 'Edit', edit_label_path(label), class: "btn btn-info" %></td>
        <td><%= link_to 'Delete', label, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Label', new_label_path, class:"btn btn-primary ml-2" %>
