<!DOCTYPE html>
<html>
  <head>
    <title>Siboleaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  %>
  </head>

 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

   <!-- Navbar brand -->
   <a class="navbar-brand" href="#"><b>S</b>iboleaf</a>

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
   aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="basicExampleNav">

   <!-- Links -->
   <ul class="navbar-nav mr-auto">

   <li class="nav-item active">
   <a class="nav-link" href="#">Home
   <span class="sr-only">(current)</span>
   </a>
   </li>

   <!-- Dropdown -->

   </ul>
   <!-- Login and sign up -->
   <div class="md-form my-0">
   <ul class="navbar-nav mr-auto">
   <li class="nav-item active">
   <a class="nav-link" href="#">
   <span class="sr-only">(current)</span>
   </a>
   </li>
   <li class="nav-item active">
   <a class="nav-link" href="#">
   <span class="sr-only">(current)</span>
   </a>
   </li>
   </ul>

   </div>
   </div>
   <!-- Collapsible content -->

   </nav>

  <body>
    <%= yield %>
    <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  </body>
</html>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Siboleaf</strong> by <a href="https://jgthms.com">Lompo Miyemba</a>. Let's all get connected and be a family
       <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Eden lompo</a>.
    </p>
  </div>
</footer>
