<!DOCTYPE html>
<html>
  <head>
    <title>Siboleaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" %>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  %>
 </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="#">Siboleaf</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <% if logged_in? %>
              <%= link_to @current_user.username, user_path(@current_user.id)%>
              <%= link_to "user management", admin_users_path%>
              <%= link_to "Label", labels_path, class:"btn btn-blue"%>
              <%= button_to "Logout", session_path(current_user.id), :method=>:delete, :class=>:destroy, class:"btn btn-blue" %>
          <% end %>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link" href="#">
             <img src="https://img.icons8.com/material-sharp/24/000000/home.png"/>
         </a>
       </li>
       <li class="nav-item">

         <%= link_to "new", new_task_path, class: "nav-link" %>
       </li>
   </div>
 </nav>
  <body>
    <%= yield %>
    <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  </body>
</html>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Siboleaf</strong> by <a href="https://jgthms.com">Lompo Miyemba</a>. Let's all get connected and be a family
       <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Eden lompo</a>.
    </p>
  </div>
</footer>
